$color-font-dark: rgb(117, 113, 113);
$color-font-light: white;
$color-background-light: rgb(248, 242, 242);
$color-background-dark: rgba(248, 242, 242, 0.305);
$color-contrast-dark-green:  rgb(113, 147, 147);
$color-contrast-light-green:  rgb(70, 153, 153);
