@use 'sass:color';

$color-white: white;
$color-smokeWhite: rgb(245, 245, 245);
$color-veryLightGrey: rgb(226, 226, 226);
$color-lightGrey: rgb(153, 153, 153);
$color-darkgrey: rgb(40, 40, 40);
$color-choco: rgb(227, 217, 196);
$color-chocoDarken: color.adjust(#E3D9C4, $lightness: -2%);
$color-chocoLighten: color.adjust(#E3D9C4, $lightness: 5%);
$color-text: rgb(68, 68, 68);
$color-textLight: rgb(153, 153, 153);
$color-textLighten: color.adjust(rgb(68, 68, 68), $lightness: 2%);
$color-red: rgb(123, 21, 27);
$color-navy: rgb(42, 43, 71);
$color-navyLighten: color.adjust(rgb(42,43,71), $lightness: 65%);

