// @mixin respond($breakpoint) {
//   @if $breakpoint == mobile {
//     @media only screen and (min-width: 640px) {
//       @content;
//     }
//   }

//   // @if $breakpoint == mobileHorizontal {
//   //   @media only screen and (min-width: 640px) and (max-width: 1024px) and (min-height: 400px) and (max-height: 900px) {
//   //     @content;
//   //   }
//   // }

//   @if $breakpoint == tablet {
//     @media only screen and (min-width: 768px) {
//       @content;
//     }
//   }

//   @if $breakpoint == max-tablet {
//     @media only screen and (max-width: 899px) {
//       @content;
//     }
//   }

//   @if $breakpoint == desktop {
//     @media only screen and (min-width: 1200px) {
//       @content;
//     }
//   }
// }

$viewport-xs: 23.4375rem;
$viewport-sm: 36rem;
$viewport-md: 48rem;
$viewport-lg: 64rem;
$viewport-xl: 90rem;

@mixin respond($breakpoints...) {
  @each $breakpoint in $breakpoints {
    @if $breakpoint == sm {
      @media (min-width: $viewport-sm) {
        @content;
      }
    } @else if $breakpoint == md {
      @media (min-width: $viewport-md) {
        @content;
      }
    } @else if $breakpoint == lg {
      @media (min-width: $viewport-lg) {
        @content;
      }
    } @else if $breakpoint == xl {
      @media (min-width: $viewport-xl) {
        @content;
      }
    }
  }
}
