@use './abstracts/index' as *;

*,*::before,*::after{
  margin:0;
  padding: 0;
  box-sizing: inherit;
}


body{
  font-family: 'Jost', sans-serif;
  overflow-x: hidden;
  font-weight: 400;
  line-height: 1.7;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
 
}

img { 
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 2rem;
}


#root {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  @include respond(mobile){
    max-width: 540px;
  }
  @include respond(tablet){
    max-width: 720px;
  }
  @include respond(tablet){
    max-width: 960px;
  }
}