@use './colors.scss' as *;

.header {
    position: relative;
    color: $color-smokeWhite;
    border: 3px solid red;
}

.burger-menu {
    position: relative;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
  
    span {
      display: block;
      width: 100%;
      height: 4px;
      background: $color-text;
      border-radius: 5px;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    &.none {
        display: none;
    }
}

.close-icon {
    position: relative;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  
    span {
      position: absolute;
      width: 100%;
      height: 4px;
      background: $color-text;
      border-radius: 5px;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      &:nth-child(1) {
        transform: rotate(45deg);
      }
  
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
}

.menu-mobile {
   
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; 
    background-color: $color-smokeWhite;
    @media screen and (max-width: 575px) {
      flex-direction: column;
    }
    &.none {
        display: none;
    }
}

.menu {
  padding: 50px;
  width: 95%;
  margin-left: auto;

  &__list {
    width: 25%;
  }

  &__item {
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    text-decoration: none;
    color: $color-darkgrey;
    margin-bottom: 10px;
      &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background-color: $color-chocoLighten; 
      transition: width .25s;
      }
      &:hover::after {
        width: 100%;
      } 
  }

}

.login-link {
  padding-top: 10px;
}

.login-link a {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}


  
  

    
