@use './abstracts/index' as *;

.categories {
  
  @include respond(lg) {
   padding-top: 36px;
   padding-bottom: 36px;
  }

  &__description {
    width: 100%;
    height: 100%;
    color: $color-navy;
    display: grid;
    grid-template-rows: auto;
    overflow: hidden;
    box-sizing: border-box
  }

  &__title {
    text-transform: uppercase;
  }

  &__item {
    height: 100%;
    position: relative;
  }

  &__arrow {
    margin-left: 20px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.products {
  margin: 50px;
  color: $color-lightGrey;

  &__category {
    text-align: center;
    color: $color-navy;
    text-transform: uppercase;
    font-weight: bold;
  }

  @include respond(md) {
    margin: 20px;
  }
  
  &__title {
    text-align: start;
    color: $color-navy;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 1rem;
  }

  &__link {
    color: $color-navy;
    margin: 10px 0;
    
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 30px;
    
    @include respond(md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  
    @keyframes slideUp {
      from {
          bottom: -100px;
      }
  
      to {
          bottom: 0;
      }
    }
  }
}

.product {

  &__figure {
    min-height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: block;
  }
 
  &:hover {
    transform: scale(1.02);
  }

  & > * {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
  }

  &__details {
    display: none;
    background-color: $color-chocoLighten;
    color: $color-lightGrey;
    border-radius: 50%;
  }

  &:hover {
      transform: scale(1.02);
      .product__details {
        display: flex;
        position: absolute;
        top: 5%;
        right: 5%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  }

  &__icon {
    width: 65%;
    height: 65%;
    font-size: 1em;
  }

  &__price {
    color: $color-navy;
  }

}

.selectedProduct {
  @include flexAbsoluteCenter();
  flex-direction: column;
  @include respond(md){
    flex-direction: row;
    height: 100vh;
  }
  &__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__title {
    color: $color-lightGrey;
  }
  &__description {
    position: relative;
    padding: 30px 45px 45px;
    width: 100%;
    @include respond(md){
      width: 50%;
    }
    font-size: 18px;
  }
  &__price {
    font-style: italic;
  }
  &__addButton {
    width: 50%;
    background-color: $color-darkgrey;
    line-height: 1.6;
    font-size: inherit;
    color: $color-smokeWhite;
    padding: .75rem 1.75rem;
    border: 2px solid transparent;
    text-align: center;
  }
}

.container {
  &__login, &__register {
    display: none;
    &.block {
      display: block;
    }
  }

  &__link-home {
    font-size: 14px;
    text-decoration: underline;
    color: $color-text;
    align-self: flex-start;
    display: block;
    transform: translateY(-70px);
  }

  &__forms {
    border: 2px solid $color-veryLightGrey;;
    height: 70vh;
   
    @media(min-width: 576px) {
      margin: 0 auto;
      padding: 40px;
      border-radius: 3px;
    }
  
      
    @media(min-width: 576px) {
      padding-right: 15px;
      padding-left: 15px;
    }
    
    @media(min-width: 768px) {
    //  max-width: 720px;
    }
    
    @media(min-width: 992px) {
     // max-width: 960px;
    }
    
    @media(min-width: 1200px) {
     // max-width: 1140px;
    }
  }

}

.login {
  &__wrapper {
    margin-left: 20px;
  }
  &__link {
    margin-right: 20px;
    .fas {
      color: $color-text;
    }
  }
}

.container__forms {
  min-height: 70vh;
  min-width: 300px;
  max-width: 460px;
  @include respond(tablet){
    min-width: 460px;
  }
 
}

.form {
  margin-bottom: 30px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  &__title {
    margin-bottom: 20px;
    padding: 2vh 0;
    text-align: center;
    font-size: 2.1rem;
    color: $color-text;
  }

  &__wrapper {
    @include flexAbsoluteCenter;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  &__foot {
    text-align: center;
    &__link {
      display: inline-block;
      position: relative;
      margin: 0 6px;
    }
  }

  &__button {
    display: block;
    width: 100%;
    width: 100%;
    
    line-height: 1.6;
    background-color: $color-text;
    color: $color-veryLightGrey;
    font-size: inherit;
    //padding: .75rem;
    &__container {
      width: 100%;
      
    }
  }
}

.input {
  display: block;
  //max-width: 300px;
  width: 100%;
  font-size: 1em;
  line-height: 1.6;
  padding: .75rem;
  border: 2px solid $color-veryLightGrey;;
  color: $color-lightGrey;
  
  &__wrapper {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 24px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__label {
    opacity: 0;
    padding: .575rem .75rem;
    max-width: 390px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: text;
  }

}

.button {
  &__wrapper {
    width: 100%;
  }
}

.account {
  display: grid;
  grid-template-columns: 20% 70%;
  max-width: 1200px; 
  margin: 2rem auto; 
  width: calc(100% - 4rem); 
  &__list {
    list-style: none;
    padding: 0;
  }
  &__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 10px;
    //padding: 10px;
  }
  &__user {
   margin-bottom: 40px;
    &-icon {
      font-size: 30px;
       text-align: start;
       color: $color-chocoDarken;
    }
    &-info {
      font-size: 16px;
      text-align: start;
    }
  }
}

.selectedProduct {
  
  &__carousel {
    width: 100%;
    @include respond(md) {
      width: 50%;
  }
  }
}