@use './colors.scss' as *;

.main {
  width: 100%;
}



.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: max(30px);
    margin: 50px;
    color: $color-darkgrey;

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
  }

  @media screen and (max-width: 575px) {
    grid-template-columns: 1fr;
    margin: 10px;
  }

  &__description {
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 0.3);
    color: $color-smokeWhite;
    display: grid;
    grid-template-rows: 10% 90%;
  }

  &__title {
    text-align: center;
  }

  &__link {
    grid-row: 2/3;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 10%;
    cursor: pointer;
    color: $color-smokeWhite;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__item {
    height: 400px;
    display: grid;
    grid-template-rows: 320px 40px 40px;
    background-color: $color-darkgrey !important;
    background-size: cover;
    background-position: center;
    display: flex;
 
    &:hover {
      transform: scale(1.02);
    }
  }

  &__arrow {
    margin-left: 20px;
  }
}


.products {
  padding: 20px;
  color: $color-lightGrey;
  width: 100%;

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 20px 0 20px 0;
    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media screen and (max-width: 575px) {
      grid-template-columns: 1fr;
    }

    @keyframes slideUp {
      from {
          bottom: -100px;
      }
  
      to {
          bottom: 0;
      }
    }

  }

  &__item {
    height: 400px;
    display: grid;
    grid-template-rows: 320px 40px 40px;

    & > * {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    &:hover {
        transform: scale(1.02);
    }
  }

  &__addButton {
    background: none;
  width: 100%;
  padding: 1rem 0;
  color: $color-darkgrey;
  text-transform: uppercase;
  background-color: $color-chocoLighten;
  font-weight: 700;
  border: none;
  cursor: pointer;
  }
}

.product {
  height: 400px;
  display: grid;
  grid-template-rows: 320px 40px 40px;
 

  & > * {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
  }

  &__photo {
    background-size: cover;
        background-position: center;
  }

  &__details {
    display: none;
    background-color: $color-chocoLighten;
    color: $color-lightGrey;
    border-radius: 50%;
  }

  &:hover {
      transform: scale(1.02);
      .product__details {
        display: flex;
        position: absolute;
        top: 5%;
        right: 5%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  }

  &__icon {
    width: 65%;
    height: 65%;
    font-size: 1em;
    font-weight: 100;
  }

}

.selectedProduct {
  &__container {
    width: 100%;
    height: 100vh;
    position: relative;
    opacity: 1;
  }
  &__image {
    width: 100%;
    // @media screen and (min-width: 767px) {
    //   width: 50%;
    // }
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__description {
    position: relative;
    padding: 30px 45px 45px;
    width: 50%;
    font-size: 18px;
    color: $color-lightGrey;
  }
  &__price {
    font-style: italic;
  }
  &__addButton {
    width: 100%;
    background-color: $color-darkgrey;
    line-height: 1.6;
    font-size: inherit;
    color: $color-smokeWhite;
    padding: .75rem 1.75rem;
    border: 2px solid transparent;
    text-align: center;
  }
}



.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  &__wrapper {
    background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
 
  &__login, &__register {
    display: none;
    &.block {
      display: block;
    }
  }

  &__link-home {
    font-size: 14px;
    text-decoration: underline;
    color: $color-text;
    align-self: flex-start;
    display: block;
    transform: translateY(-70px);
  }

  &__forms {
    border: 2px solid $color-veryLightGrey;;
    height: 70vh;

    @media(min-width: 576px) {
      width: 420px;
      margin: 0 auto;
      padding: 40px;
      border-radius: 3px;
    }
  
      
    @media(min-width: 576px) {
      max-width: 540px;
      padding-right: 15px;
      padding-left: 15px;
    }
    
    @media(min-width: 768px) {
      max-width: 720px;
    }
    
    @media(min-width: 992px) {
      max-width: 960px;
    }
    
    @media(min-width: 1200px) {
      max-width: 1140px;
    }
  }

}

.login {
  &__wrapper {
    margin-left: 20px;
  }
  &__link {
    margin-right: 20px;
    .fas {
      color: $color-text;
    }
  }
}

.container__forms {
  min-height: 70vh;
}

.form {
  padding-bottom: 30px;
  max-width: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  &__title {
    margin-bottom: 20px;
    padding: 2vh 0;
    text-align: center;
    font-size: 2.1rem;
    color: $color-text;
  }

  &__wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  &__foot {
    text-align: center;
    &__link {
      display: inline-block;
      position: relative;
      margin: 0 6px;
    }
  }

  &__button {
    display: block;
    max-width: 300px;
    width: 100%;
    padding: .75rem 1.75rem;
    line-height: 1.6;
    background-color: $color-text;
    color: $color-veryLightGrey;
    font-size: inherit
  }
}

// poniższa klasa nie jest uniwersalna dla form z input
.input {
  display: block;
  max-width: 300px;
  width: 100%;
  font-size: 1em;
  line-height: 1.6;
  padding: .75rem;
  border: 2px solid $color-veryLightGrey;;
  color: $color-lightGrey;
  
  &__wrapper {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 24px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__label {
    opacity: 0;
    padding: .575rem .75rem;
    max-width: 390px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: text;
  }

}

.button {
  &__wrapper {
    width: 100%;
  }
}