$font-size: (
  small: 0.75rem,
  medium: 1.3rem,
  large: 2rem,
  extra-large: 3rem
);

$padding: (
  small: 0.5rem 1rem,
  medium: 0.75rem 1.5rem,
  large: 1.5rem
);

$spacing: (
  small: 0.5rem,
  medium: 1rem,
  large: 1.5rem
);